body{
    background-color:grey;
}
.maindiv{
    margin: 10px auto;
    border: 1px solid white;
    border-radius: 20px;
    height: 450px;
    width: 300px;
    padding: 20px;
    background: white;
}

.heading{
    text-align: center;
    margin: auto;
    color: black;
    background:yellow;
    height: 30px;
    width: 300px;
    border-top-left-radius: 20px ;
    border-top-right-radius: 20px ;

}

.container{
    margin-top: 40px;
}

.inp{
    
    width: 280px;
    border: none;
    background: rgba(128, 128, 128, 0.089);
    border-bottom:2px solid rgb(0, 183, 255) ;
}

.row{
    padding: 10px;
}

.calculatebtn{
    border:2px solid rgb(0, 183, 255) ;
    margin-top: 30px;
    margin-left: 18px ;
    height: 20px;
    width: 250px;
}

.calculatebtn:hover{
    background: rgb(0, 183, 255);
}

#display{
    color: red;
    margin: 30px auto;
    height: 100px;
    width: 240px;
    font-size: smaller;
}
